<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../assets/friends.css">
    <title>Amigos</title>
    <script type="module" src="./../js/showFriends.js"></script>
    <script type="module">import {getFriends} from "./../js/showFriends.js";</script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        function myFunction() {
        window.location.href = "./../views/friends.html";
        }
    </script>
        <script>
            function myFunctionP() {
            window.location.href = "./../views/producto.html";
            }
        </script>
</head>
<body>
    <div class="mainMenu">
        <div class="logoContainer">
            <h1>
                <img src="./../assets/images/SCR-20231112-oqwn.png" alt="" id="scrapyImg">
            </h1>
        </div>
        <div class="buttonContainer">
            <button onclick="myFunctionP()" class="navBar">Productos</button>
            <button onclick="myFunction()" class="navBar" href="#newFriends">Buscar Amigos</button>
            <button class="navBar" id="settings">Ajustes</button>
            <button id="logout" class="navBar">Log out</button>
        </div>
    </div>
    <div id ="body">

        <div class = "agregar">      
            <div class="tituloAgregar"> 
                <span id = "nuevoAmigo"> Agrega un Nuevo Amigo</span>
            </div>
        </div>
        <div id="people">
        </div>
    </div>

    <footer>
        <p>&copy; 2023 Web Scraping App</p>
    </footer>

</body>
</html>