th {
    border: solid;
    border-color: grey;
    border-width: 2px;
    padding: 4px;
}

img {
    width: 225px;
    height: 225px;
}

.producto {
    width: 225px;
    height: 265px;
    margin: 5px;
    display: inline-block;   
   
}

.galeria {
    margin-top: 100px;
    margin-left: 26%;
}


span {
    padding-top: 10px;
    font-family: Helvetica, sans-serif;
}

.precioC {
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
}


.descuento{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: blue;

}

.nombre {
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
}

.ver{
    font-family: Helvetica, sans-serif;
    
}

.verImg {
    width: 400px;
    height: 400px;
}

.verProducto {
    margin-top: 40px;
    margin-left: 40%;
    display: inline-block;
}

.verPrecioC {
    font-size: 40px;
    font-weight: bold;
}

.infoProducto {
    padding-left: 30px;
}

.verDescuento {
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    color: blue;
}

.verPrecioP {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(106, 132, 224);
}

.verNombre {
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 35px;
}

#quitarProducto {
    margin-top: 60px;
    margin-left: 400px;
    color: blue;
    font-weight: bold;
    border-color: blue;

}

#regresar {
    margin-left: 10%;
    font-size: 24px;
    border-color: black;

}


.verLink {
    font-style: italic;
}

#nuevoProducto {
    font-weight: bolder;
    font-family: sans-serif;
    color:blue;
    font-size: larger;
}

#nuevoLink {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
}


.agregar {
    padding-top: 60px;
    margin-left: 120px;
}

button {
    cursor:pointer;
}

a:hover {
    color: lightskyblue;
    cursor: pointer;
}


/** JUAN DE DIOS  (lo de abajo)**/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    color: #333;
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}

#main-menu {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style: none;
    display: contents;
    margin: 0;
    align-items: center;
}

#main-menu li {
    margin: 0;
    padding: 0 20px;
}

#main-menu a {

    text-decoration: none;
    color: #333;
}

#settings-button {
    transition: color 0.3s;
}

#settings-button:hover {
    color: lightskyblue;
    cursor: pointer;
}

#add-product-button:hover {
    color: lightskyblue;
    cursor: pointer;
}

#find-friends-button:hover {
    color: lightskyblue;
    cursor: pointer;
}

main {
    padding-left: 100px;
}

footer {
    color: #333;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#menu-toggle {
    font-size: 30px;
    cursor: pointer;
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
}

/* Clase para ocultar elementos */
.hidden {
    display: none;
}

#frame {
    border-radius: 7px;
    margin-right: 600px;
}

#ajustes {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style: none;
    display: contents;
    margin: 10%;
    align-items: center;
}
