@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700,900');

body{
    background: linear-gradient(90deg, rgba(255, 246, 143,1)  0%, rgba(208, 218, 142,1) 35%, rgba(243, 225, 107, 1) 100%);
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}

h4{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 10px;
}

.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background  : transparent;
    color       : #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .nav-link.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .nav-link.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .nav-link {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .nav-link.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .nav-link {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .nav-link.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .nav-link {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .nav-link.active {
    color: #fff !important;
}

.light-style .account-settings-links .nav-link.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .nav-link {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
