h1 {
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,14,154,1) 35%, rgba(0,212,255,1) 100%);
    font-family: 'Poppins', sans-serif;
}

button {
    padding: 1px;
    margin-right: 20px;
    border: 0;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,14,154,1) 35%, rgba(1, 1, 122,1) 100%);
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    height: 20px;
    width: 80px;
  }

#mainMenu {
    margin-top: 80px;
    margin-left: 18%;
}
  
button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

#botonAgregar {
    height: 30px;
    width: 90px;
}


img {
    width: 70%;
    height: 70%;
    border-radius: 20px;
    margin:auto;
	display:block;
}


.infoDiv{
    height: 140px;
}
.producto {
    width: 294.66px;
    height: auto;
    margin: 5px;
    display: inline-block;   
    text-align: left;
   
}

div {
    margin-left: 20px;
    margin-right: 20px;
}

.descuento {
    font-weight: 700;
}


.agregar {
    margin-bottom: 30px;
}

.tituloAgregar {
    margin-bottom: 20px;
}

.actionAgregar{
    margin-bottom: 100px;
}


#body{
    margin-left: 15%;
    border-radius: 20px;
    margin-top: 60px;
    width: 64%;
    background-color: white;
    padding: 50px;
    text-align: center;
}

a {
    color: white;
    cursor: pointer;
    padding-right: 7%;
    font-weight: bolder;
}

#inputURL {
    width: 30%;
    height: 22px;
    margin-right: 15px;
    text-align: center;
}


#nuevoProducto {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}