h1 {
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,14,154,1) 35%, rgba(0,212,255,1) 100%);
    font-family: 'Poppins', sans-serif;
}

img {
    width: 225px;
    height: 225px;
    border-radius: 20px;
}

.producto {
    width: 225px;
    height: 265px;
    margin: 5px;
    display: inline-block;   
    text-align: left;
   
}

.descuento {
    font-weight: 700;
}

.agregar {
    margin-bottom: 30px;
}

#body{

    margin-left: 15%;
    border-radius: 20px;
    margin-top: 70px;
    width: 64%;
    background-color: white;
    padding: 50px;
    text-align: center;
}

#botonAgregar {
    width: 10%;
    border: none;
    margin-top: 20px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,14,154,1) 35%, rgba(1, 1, 122,1) 100%);
    color: white;
}

a {
    color: white;
    cursor: pointer;
    padding: 70px;
    display: inline-block;
}

#nuevoProducto {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

