h1 {
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,14,154,1) 35%, rgba(0,212,255,1) 100%);
    font-family: 'Poppins', sans-serif;
}

.verProducto {
    border-radius: 20px;
    margin-top: 150px;
    margin-left: 22%;
    width: 50%;
    background-color: white;
}

.verImg {
    border-radius: 20px;
}

.divImg {
    display: inline-block;
}

.infoProducto {
    text-align: left;
    top: 0px;
    display: inline-block;
}


span {
    font-weight: 400;
    padding: 50px;
}

.verNombre {
    font-weight: 700;
    margin-bottom: 20px;
}


@media (max-width: 2500px) {

    .verProducto {
        padding: 30px;
    }

    .verNombre{
        font-size: 30px;
    }
    span {
        font-size: 30px;
        line-height: 50px;
    }
    .verImg {
        width: 500px;
        height: 600px;
    }

    #quitarProducto {
        padding: 50px;
        font-size: 30px;
    }
    
    #regresar {
        font-size: 30px;
    }

}

@media (max-width: 1800px) {

    .verProducto {
        padding: 25px;
    }

    .verNombre {
        font-size: 20px;
        width: 50%;
    }
    span {
        font-size: 20px;
        line-height: 30px;
    }
    .verImg {
        width: 200px;
        height: 300px;
    }

    #quitarProducto {
        padding: 50px;
        font-size: 20px;
    }
    
    #regresar {
        font-size: 20px;
    }

}

@media (max-width: 700px) {

    .verProducto {
        padding: 20px;
    }

    .verNombre {
        font-size: 8px;
        width: 100%;
    }

    span {
        font-size: 8px;
        line-height: 20px;
    }
    .verImg {
        width: 100px;
        height: 200px;
    }

    #quitarProducto {
        padding: 50px;
        font-size: 8px;
    }
    
    #regresar {
        font-size: 8px;
    }

}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}